<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base2</title>
</head>
<body>
    <h1>Calcular indice de massa corporal usando metodo POST</h1>
    <form action="">
        <label>Sua Altura</label>
        <input type="text" name="txt_altura">
        <label>Seu peso</label>
        <input type="text" name="txt_peso">
        <input type="submit" name="calcular">
        <input type="reset" name="Limpar">  
    </form>


</body>
</html>