<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina base</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Meu Site</h1>
    <a href="/sobre">sobre</a>
    <a href="/servicos">serviços</a>
    <a href="{{ url_for('rota_contato') }}">contatos</a> 
    <a href="/conteudo">conteudo</a>

    {% block conteudo %}{% endblock %}

    <footer>
        {% block rodape %}{% endblock %}
    </footer>

</body>
</html>